<html>
<head>
    <base href="/My_Portfolio">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Marquavious Hardwick">
    <title>Home</title>
    <link rel="stylesheet" href="{{'/assets/css/style.css' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{'/assets/images/favicon.ico' | relative_url }}">
</head>

<body class="container">
    <P class = "center large">Hello, My name is Marquavious Hardwick and welcome to my ePortfolio. 
        I am a graduate from Georgia Southern University.
    </P>
</body>
</html>
