<!doctype html>
<html>
<head>
    <base href="/My_Portfolio">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Marquavious Hardwick">
    <title>Home</title>
    <link rel="stylesheet" href="{{'/assets/css/style.css' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{'/assets/images/favicon.ico' | relative_url }}">
</head>
<header>
    <ul>
        <li><a href="{{'/main.html' | relative_url}}">Home</a></li>
        <li><a href="{{ '/resume.html' | relative_url }}">Resume</a></li>
        <li><a href="{{ '/projects.html' | relative_url }}">Projects</a></li>
        <li><a href="{{ 'about.html' | relative_url }}">About</a></li>
    </ul>
</header>

<body class="container">
    <P>Hello, My name is Marquavious Hardwick and welcome to my ePortofolio. 
        Currently Im a Senior at Georgia Southern University, graduating in December 2022.
    </P>
</body>
</html>