<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Marquavious Hardwick">
    <title>Resume</title>
    <link rel="stylesheet" href="{{'/assets/css/resumestyle.css' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{'/assets/images/favicon.ico' | relative_url }}">
</head>

<!-- <header class = "navBar">
    <ul class = "navBar">
        <li class = "navBar"><a href="{{'/main.html' | relative_url}}">Home</a></li>
        <li class = "navBar"><a href="{{ '/resume.html' | relative_url }}">Resume</a></li>
        <li class = "navBar"><a href="{{ '/projects.html' | relative_url }}">Projects</a></li>
        <li class = "navBar"><a href="{{ 'about.html' | relative_url }}">About</a></li>
    </ul>
</header -->

<body class="container">
    <p>A pdf copy of my resume can be accessed <a href="{{'/assets/pdfs/MarquaviousJhardwickResume.pdf' | relative_url }}">here</a>!</p>
    <P><b>Education</b></P>
    <p><b>Georgia Southern University, Savannah, GA</b></p>
    <p>Bachelor of Science, Computer Science - ABET Accredited <span class="tabGraduated"> December 2022</span></p>
    <p>Revelent Courses: </p>
    <ul>
        <li>COMM 1110 -> Public Speaking</li>
        <li>CSCI 1301 -> Intro to Programming (Java)</li>
        <li>CSCI 1302 -> Intro to Programming 2(Java)</li>
        <li>CSCI 2490 -> C++ Programming</li>
        <li>CSCI 3230 -> Data Structures</li>
        <li>CSCI 3432 -> Database Systems (SQL)</li>
        <li>CSCI 4235 -> Human Computer Interaction</li>
        <li>CSCI 4439 -> Game Programming (Unity)</li>
        <li>CSCI 5332 -> Data Communications and Networking </li>
        <li>CSCI 3321 -> Intro to Software Engineering</li>
        <li>CSCI 5431 -> Computer Security</li>
        <li>CSCI 5436 -> Distributed Web Systems Design (HTML, CSS, Linux) </li>
        <li>MATH 2130 -> Discrete Mathematics</li>
        <li>MATH 2242 -> Calculus 2</li>
        <li>MATH 2160 -> Elementary Linear Algebra</li>
    </ul>

    <p><b>Skills</b></p>
    <ul>
        <li>Java</li>
        <li>C++</li>
        <li>SQL</li>
        <li>C#</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
        <li>Docker</li>
    </ul>
    <br>

    <P><b>LEADERSHIP EXPERIENCE</b>
        <br><b>Georgia Southern University, Office of Multicultural Affairs, Savannah, GA</b>
        <br><b>Men of Vision and Excellence (MOVE)</b> <span class="tabPresident">September 2021 – May 2022</span>
        <br>President</P>
        <ul>
            <li>Created and Implemented culture specific programming</li>
            <li>Lead and set up meetings</li>
            <li>Planed, hosted, and set up events with Executive board members. </li>
            <li>Reported on time changes and event outcomes to our graduate assistant and assistant director</li>
            <li>Oversee financial reports with graduate assistant and treasure.</li>
            <li>Collaborated to create programming budget </li>
        </ul>
        <p>Member <span class="tabMemeber">August 2019 – December 2022</span></p>
        <ul>
            <li>Helped set up and clean up events</li>
        </ul>
</body>
</html>