@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

a,
p,
ul li,
ol li,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif', serif;
}

a,
p,
ul li,
ol li {
    font-size: 1.2rem;
}

body {
    color: brown;
}

.container {
    max-width: 1100px;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-color: #dddfff;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}