<!doctype html>
<html>

<head>
    <base href="/My_Portfolio">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Marquavious Hardwick">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{'/assets/css/resumestyle.css' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{'/assets/images/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{'/assets/fontawesome-free-6.2.1-web/css/fontawesome.css' | relative_url }}">
    <link rel="stylesheet" href="{{'/assets/fontawesome-free-6.2.1-web/css/brands.css' | relative_url }}">
    <link rel="stylesheet" href="{{'/assets/fontawesome-free-6.2.1-web/css/solid.css' | relative_url }}">
</head>

<header class="navBar">
    <ul class="navBar">
        <li class="navBar"><a href="{{'/main.html' | relative_url}}">Home</a></li>
        <li class="navBar"><a href="{{ '/resume.html' | relative_url }}">Resume</a></li>
        <li class="navBar"><a href="{{ '/projects.html' | relative_url }}">Projects</a></li>
        <li class="navBar"><a href="{{ 'about.html' | relative_url }}">About</a></li>
        <li class="navBar"><a href="{{ '/blog.html' | relative_url }}">Blog</a></li>
    </ul>
</header>

<body class="container">
    {{content}}
</body>
<footer>
    <a href="https://github.com/MarquaviousH"><i class="fa-brands fa-github-square fa-5x"></i></a>
    <a href="https://www.linkedin.com/in/marquavious-hardwick/"><i class="fa-brands fa-linkedin fa-5x"></i></a>
</footer>

</html>